body {
    background: black;
    color: white;
    font-size: 30px;
}

h1 {
    font-size: 3rem;
   align-self: center;
}

.carPicture {
    height: 500px;
    width: 800px;
    align-self: center;
}

.dogPicture {
    height: 500px;
    width: 800px;
    align-self: center;
}
.imgOfBench {
    height: 500px;
    width: 800px;
    align-self: center;
}

#start-button {
    align-self: center;
    height: 40px;
}

/*.start-container  {*/
/*    top: 150px;*/
/*}*/

/*.story-container {*/
/*    top: 150px;*/
/*}*/

p {
    align-self: center;
    text-align: center;
}

button {
    width: 300px;
    font-size: 2rem;
    align-self: center;
}

input {
    align-self: center;
}

.start-picture{
    height: 100vh;
    width: 100%;
}

.minimumLetters {
    font-size: 1rem;
    color: red;
}

p {
    overflow: hidden;
    letter-spacing: 2px;
    animation: typing 5s steps(30, end), blink, .75s step-end infinite;
    white-space: nowrap;
    box-sizing: border-box;
    border-right: 1px solid white;
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

@keyframes blink {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: orange;
    }
}

/*Reusable classes*/
.flex { display: flex; }
.align-center { align-content: center; }
.justify-center { justify-content: center; }
.flex-column { flex-direction: column; }
.relative { position: relative; }
.absolute { position: absolute; }






