body {
    background: black;
    color: white;
    font-size: 30px;
}

h1 {
    font-size: 3rem;
    align-self: center;
}

#start-button {
    width: 300px;
    height: 40px;
    font-size: 2rem;
    align-self: center;
}

.start-container {
    height: 30rem;
    width: 20rem;
    left: 35rem;
    top: 20rem;
}

.start-picture{
    height: 100vh;
    width: 100%;

}



#divContent {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-direction: column;
}



/*Reusable classes*/
.flex { display: flex; }
.align-center { align-content: center; }
.justify-center { justify-content: center; }
.flex-column { flex-direction: column; }
.relative { position: relative; }
.absolute { position: absolute; }





/*@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');*/

/*body{*/
/*    padding: 40px;*/
/*    background-color: #121212;*/
/*    word-wrap: normal;*/
/*}*/

/*p {*/
/*    border-right: solid 3px rgba(0,255,0,.75);*/
/*    white-space: nowrap;*/
/*    overflow: hidden;*/
/*    font-family: 'Source Code Pro', monospace;*/
/*    font-size: 28px;*/
/*    color: rgba(255,255,255,.70);*/
/*}*/

/*!* Animation *!*/
/*p {*/
/*    animation: animated-text 4s steps(29,end) 1s 1 normal both,*/
/*    animated-cursor 600ms steps(29,end) infinite;*/
/*}*/

/*!* text animation *!*/

/*@keyframes animated-text{*/
/*    from{width: 0;}*/
/*    to{width: 472px;}*/
/*}*/

/*!* cursor animations *!*/

/*@keyframes animated-cursor{*/
/*    from{border-right-color: rgba(0,255,0,.75);}*/
/*    to{border-right-color: transparent;}*/
/*}*/





